.navigation {
	background: var(--main-theme-color);
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 12px 0;
	@media (max-width: 768px) {
		display: none;
	}
	.navigationCont {
		max-width: 1305px;
		display: flex;
		flex-direction: row;
		align-items: center;
		@media (max-width: 1340px) {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			padding: 10px 15px;
		}
		.logoCont {
			cursor: pointer;
		}
		.mobileRow {
			align-items: center;
			gap: 20px;
		}
	}
	.navWrapper {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: start;
		width: 100%;
		gap: 48px;
		@media (max-width: 1340px) {
			display: none;
		}
		.navEl {
			font-size: 18px;
			color: var(--additional-theme-color);
			font-weight: 500;
			transition: all 0.3s ease-in-out;
			padding: 7px 10px;
			text-align: center;
			position: relative;
			.active {
				color: var(--additional-theme-color);
				&::before {
					content: '';
					position: absolute;
					left: -8.5px;
					top: 50%;
					transform: translateY(-50%) rotate(45deg);
					width: 8px;
					height: 8px;
					background: var(--additional-theme-color);
					opacity: 1;
					transition: all 0.3s ease-in-out;
					pointer-events: none;
				}
			}
			&::before {
				content: '';
				position: absolute;
				left: -8.5px;
				top: 50%;
				transform: translateY(-50%) rotate(45deg);
				width: 0;
				height: 0;
				background: var(--additional-theme-color);
				opacity: 0;
				transition: all 0.3s ease-in-out;
				pointer-events: none;
			}

			&:hover::before {
				width: 8px;
				height: 8px;
				opacity: 1;
				left: -8.5px;
			}
		}
	}
	.personMenu {
		width: max-content;
		display: flex;
		flex-direction: row;
		gap: 8px;
		align-items: center;
		text-wrap: nowrap;
		p {
			font-size: 18px;
			color: var(--additional-theme-color);
		}
	}
}
