.eventItem {
	border-radius: 16px;
	box-shadow: 0 0 15px 0 rgb(0 0 0 / 0.1);
	background: var(--color-white);
	transition: all 0.3s;
	width: fluid(287, 287);
	height: max-content;
	max-height: 423px;

	@media (max-width: 768px) {
		width: 300px;
	}

	@media (max-width: 575px) {
		max-width: 100%;
		margin: 0 auto;
	}

	a {
		display: block;
		height: 100%;
	}

	:global {
		.event-item-img {
			position: relative;
			width: 100%;
			height: 192px;
			overflow: hidden;
			@media (max-width: 768px) {
				height: 200px;
			}
			img {
				@include abs-cover;
				height: 100%;
				width: 100%;
				max-height: 100%;
				z-index: 0;
				border-radius: 0 var(--border-radius) var(--border-radius) 0;
				object-fit: cover;
				object-position: top left;
			}

			span {
				position: absolute;
				bottom: 10px;
				left: 10px;
				font-size: 15px;
				text-align: center;
				color: var(--color-black);
				padding: 3px 10px;
				background: var(--color-white);
				border-radius: 3px;
			}
		}
	}
}

.eventContent {
	padding: 16px;
	.eventTitle {
		font-weight: 600;
		font-size: 18px;
		margin-bottom: 8px;
		line-height: 1.25;
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 2;
		line-clamp: 2;
		text-overflow: ellipsis;
		overflow: hidden;
		max-height: 48px;
		height: 48px;
	}

	.status {
		display: flex;
		gap: 0px;
		margin-bottom: 6px;

		svg {
			width: 17px;
			height: 16px;
		}
	}

	.eventDate,
	.eventTime,
	.eventLocations span:first-child {
		font-size: 16px;
		padding-left: 28px;
		position: relative;

		&::before {
			content: '';
			position: absolute;
			width: 17px;
			height: 16px;
			left: 0;
			top: 0;
		}
	}

	.eventDate {
		margin-bottom: 6px;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;

		&::before {
			margin-top: 3px;
			background: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.4834 6.40723H10.5146C11.9843 6.40611 13.4532 6.4754 14.916 6.61523L14.8555 11.0117C14.8388 12.2079 14.3518 13.3495 13.5 14.1895C12.648 15.0294 11.4992 15.5004 10.3027 15.5H5.69336C4.4972 15.5 3.34877 15.0293 2.49707 14.1895C1.64542 13.3495 1.15823 12.2078 1.1416 11.0117L1.08008 6.61523C2.54345 6.47544 4.01319 6.40599 5.4834 6.40723ZM11.2236 0.5C11.261 0.49998 11.2984 0.507246 11.333 0.521484C11.3677 0.535853 11.4002 0.557417 11.4268 0.583984C11.4532 0.61048 11.474 0.642184 11.4883 0.676758C11.5026 0.711444 11.5098 0.748598 11.5098 0.786133V1.65234L11.8477 1.76855C12.5747 2.01852 13.2267 2.44816 13.7432 3.01758C14.0975 3.40823 14.3781 3.85671 14.5781 4.34082C13.2269 4.22434 11.8711 4.16592 10.5146 4.16699H5.4834C4.12658 4.16591 2.77051 4.22429 1.41895 4.34082C1.61907 3.8566 1.90045 3.4083 2.25488 3.01758C2.77141 2.4482 3.42341 2.01854 4.15039 1.76855L4.48828 1.65234V0.786133C4.48828 0.710259 4.51861 0.637637 4.57227 0.583984C4.62591 0.530401 4.69859 0.5 4.77441 0.5C4.85014 0.50007 4.92298 0.53046 4.97656 0.583984C5.01659 0.624075 5.04364 0.674761 5.05469 0.729492L5.06055 0.786133V1.52344H7.71191V0.786133C7.71191 0.748584 7.72001 0.711449 7.73438 0.676758C7.74871 0.64217 7.76946 0.610491 7.7959 0.583984C7.82241 0.557489 7.85406 0.535849 7.88867 0.521484C7.9234 0.507117 7.96144 0.49998 7.99902 0.5C8.07486 0.50003 8.14755 0.530359 8.20117 0.583984C8.25477 0.637629 8.28516 0.710296 8.28516 0.786133V1.52344H10.9375V0.786133C10.9375 0.748603 10.9446 0.711435 10.959 0.676758C10.9734 0.642042 10.9949 0.610556 11.0215 0.583984C11.048 0.55747 11.0796 0.535831 11.1143 0.521484C11.1316 0.514345 11.1497 0.50947 11.168 0.505859L11.2236 0.5Z' stroke='black'/%3E%3C/svg%3E%0A") no-repeat;
		}
	}

	.eventTime {
		margin-bottom: 6px;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		&::before {
			margin-top: 3px;
			background-position: center;
			background-repeat: no-repeat;
			background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 0.599609C12.0415 0.599609 15.4001 3.95945 15.4004 8.00391C15.4004 12.0538 12.1431 15.4092 8 15.4092C3.95835 15.4092 0.599609 12.0486 0.599609 8.00391C0.599871 3.95945 3.9585 0.599609 8 0.599609Z' stroke='black' stroke-width='1.2'/%3E%3Cpath d='M8.00388 9.2044C7.79055 9.2044 7.68389 9.09766 7.57722 8.99093C7.36389 8.77748 7.47056 8.45733 7.68389 8.24388L11.9506 5.04213C12.1639 4.82868 12.4839 4.93541 12.6972 5.14886C12.9106 5.36231 12.8039 5.68246 12.5906 5.89591L8.3239 9.09767C8.3239 9.20439 8.21721 9.2044 8.00388 9.2044Z' fill='black' stroke='black' stroke-width='0.3'/%3E%3Cpath d='M8.00076 9.20355C7.89409 9.20355 7.78744 9.20355 7.68077 9.09682L4.48077 6.96232C4.26744 6.74887 4.16076 6.42872 4.3741 6.21527C4.58743 6.00182 4.90744 5.89508 5.12077 6.10853L8.32078 8.24303C8.53411 8.45648 8.64078 8.77664 8.42745 8.99009C8.42745 9.09682 8.21409 9.20355 8.00076 9.20355Z' fill='black' stroke='black' stroke-width='0.3'/%3E%3C/svg%3E%0A");		}
	}

	.eventLocations {
		margin-bottom: 8px;
		span:first-child {
			max-width: max-content;
			display: block;
			line-height: 1.5;
			margin-bottom: 3px;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
			height: 22px;

			&::before {
				top: 3px;
				margin-top: 3px;
				background: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.4014 0.842773C15.4259 0.84776 15.4498 0.859919 15.4688 0.87793C15.4877 0.896082 15.4964 0.914189 15.499 0.925781C15.5007 0.93363 15.5021 0.94749 15.4902 0.972656L8.8125 15.0703C8.79265 15.1122 8.76788 15.1326 8.74219 15.1445C8.71187 15.1586 8.66929 15.165 8.62305 15.1572C8.57701 15.1494 8.54257 15.13 8.52246 15.1104C8.50643 15.0946 8.49176 15.0718 8.48828 15.0293L7.95117 8.48535L7.91602 8.06055L7.49023 8.02832L0.65332 7.50977C0.592089 7.50512 0.561117 7.48477 0.543945 7.46875C0.523786 7.44992 0.507701 7.42309 0.501953 7.3916C0.496271 7.36021 0.501702 7.33229 0.511719 7.3125C0.519824 7.29663 0.538617 7.27017 0.591797 7.24707L15.3145 0.853516C15.3507 0.837781 15.3793 0.838339 15.4014 0.842773Z' stroke='black'/%3E%3C/svg%3E%0A") no-repeat;
			}
		}

		span:last-child {
			display: block;
			font-size: 16px;
			padding-left: 28px;
		}
	}

	.eventDesc {
		font-size: 16px;
		line-height: 1.3;
		display: block;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		overflow: hidden;
		text-overflow: ellipsis;
		line-clamp: 2;
		max-height: 45px;
		height: 45px;
		margin-bottom: 25px;
	}
}

