.eventsSection {
	padding: 37px 0 40px;

	.slider {
		padding: 10px 0;
		.slide {
			@media (max-width: 1400px) {
				display: flex;
				justify-content: center;
				align-items: center;
				margin: 0 auto;
			}
		}
	}

	.eventsSectionRow {
		margin: 17px 0;
		align-items: center;
		justify-content: space-between;
		gap: 17px;
		@media (max-width: 768px) {
			padding-right: 24px;
		}
	}

	.sectionTitle {
		font-size: 32px;
		font-weight: 600;
		@media (max-width: 768px) {
			font-size: 20px;
		}
	}

	.allBtn {
		width: 175px;
		font-size: 18px;
		font-weight: 600;
		padding: 12px 24px;
		border-radius: 8px;
		background: var(--main-allBtn-color);
		color: #000;
		height: max-content;
		&:hover {
			background: #0000001A;
		}
		@media (max-width: 768px) {
			color: #000;
			background: none;
			font-size: 16px;
			padding: 0;
		}
	}

	@include mobile {
		padding: 0px 0 0px;
	}

	.eventsSliderBtns {
		width: calc(100% + 80px);
		top: 55%;
		@media (max-width: 1400px) {
			width: 100%;
		}
		@media (max-width: 768px) {
			display: none;
		}
	}
}

.homeEventCard {
	@media (max-width: 768px) {
		margin: 0 auto;
	}
	:global {
		.event-item-img {
			height: 207px;
			@media (max-width: 768px) {
				height: 200px;
			}
		}
	}
}

