.awardCard {
  max-height: 419px;
  position: relative;
  height: 419px;
  width: 100%;
  background: #00000010;
  cursor: pointer;
  border-radius: 16px;
  @media (max-width: 768px) {
    max-width: 320px;
    max-height: 320px;
    height: 320px;
  }
  &:hover .title{
    color: #fff;
    text-decoration: underline 1px;
  }
  &:hover .infoWrapper p {
    color: #fff;
  }
  &:hover .bg {
    display: flex;
  }
  .bg {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    border-radius: 16px;
    transition: all .3s ease-in-out;
  }
  .card {
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    padding: 32px;
    position: relative;
    z-index: 2;
    @media (max-width: 768px) {
      padding: 24px 32px;
    }
    .title {
      font-size: 36px;
      font-weight: 300;
      text-align: left;
      @media (max-width: 768px) {
        font-size: 26px;
      }
    }
    .infoWrapper {
      gap: 8px;
      flex-direction: column;
      .topBlock {
        gap: 8px;
        align-items: center;
      }
      p {
        font-size: 16px;
      }
    }
  }
}